@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.journal-title {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: 500; /* Bold weight */
    font-size: 80px;
    margin-top: 40px;
    width: 100%; 
    color:#6a0738;
}


.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
