nav {
    margin: 0px;
    padding-top: 0.5rem;
    background-color: var(--accent-color);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
  }
  
  nav a {
    color: var(--background-color);
    display: block;
    --padding: 1rem;
    padding: var(--padding);
    text-decoration: none;
    font-weight: bold;
    --border-radius: 15px;
    border-radius: 5px 5px 0 0;
    position: relative;
  }
  nav a:hover::before,
  nav a:focus::before {
    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    border-radius: 0 0 100vw 0;
    box-shadow: 5px 5px 0 5px var(--background-color);
    background-color: var(--accent-color);
    bottom: 0;
    left: calc(var(--padding) * -1 + 1px);
  }
  nav a:hover::after,
  nav a:focus::after {
    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    border-radius: 0 0 0 100vw;
    box-shadow: -5px 5px 0 5px var(--background-color);
    background-color: var(--accent-color);
    bottom: 0;
    right: calc(var(--padding) * -1 + 1px);
  }
  
  nav a:hover,
  nav a:focus {
    background-color: var(--background-color);
    color: var(--accent-color);
    outline: none;
  }